.f-container{
    position: relative;
}
.f-right{
    gap: 2rem;
}
.f-right>div:nth-child(1){
    gap: 1rem;
}
.f-right>div:nth-child(1)>.flex{
    gap: 1rem;
}
.f-right>div:nth-child(1)>.flex>svg{
    fill: var(--primary-color);
    width: 20px;
    height: 20px;
}
.f-right>div:nth-child(2){
    gap: 2rem;
}
.f-right>div:nth-child(2) a{
    color: var(--light-color);
    font-size: 1.2rem;
}
.f-wrap{
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .f-container{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}